[tool.poetry]
name = "hep-ml-lab"
version = "0.3.0"
description = "An end-to-end framework used for research combining high-energy physics phenomenology with machine learning."
authors = ["Star9daisy", "star9daisy@outlook.com"]
readme = "README.md"
packages = [
    { include = "hml" },
]

[tool.poetry.dependencies]
dill = "^0.3.7"
keras = "^2.13.0"
numpy = "^1.22"
pandas = "2.0.3"
python = ">=3.8,<3.12"
rich = "^13.4.2"
scikit-learn = "^1.2.2"
tensorflow = "^2.13.0"

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
deptry = "^0.12.0"
mkdocs = "^1.4.3"
mkdocs-exclude = "^1.0.2"
mkdocs-material = "^9.1.15"
mkdocstrings = {extras = ["python"], version = "^0.22.0"}
pygments = "^2.16.1"
pytest = "^7.4.3"
pytest-cov = "^4.1.0"
python-dotenv = "^1.0.0"

[tool.deptry.per_rule_ignores]
DEP001 = ["ROOT"]

[tool.deptry]
ignore_notebooks = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
